@import url("footer.css");
@import url("header.css");
@import url("sidebar.css");
@import url("main.css");

  .container {
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 120px 600px 2200px 150px;
    grid-template-areas:
    "hd"
    "title"
    "content"
    "ft";
  }
  
  .box {
      border: 5px solid rgb(151, 182, 79);
      background: #f8fa9d;
  }

  @media(min-width: 500px) {
    .container {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 120px auto auto 150px;
      grid-gap: 0px;
      border: 10px solid rgb(151, 182, 79);
    }
    .box {
      border: 10px solid rgb(151, 182, 79);
      background: #f8fa9d;
    }
  }